{% extends "website/page.html" %}
{% load static %}

{% block title %}Warunki gwarancji — Vestone{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'theme/css/content-pages.css' %}">
{% endblock %}

{% block page_content %}
<div class="split-page">
    <div class="split-page__content prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Consectetur adipiscing elit</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <aside class="split-page__aside">
        {% include "website/partials/contact_form_sticky.html" with form_id_prefix="warranty" form_title="Zapytanie o gwarancję" %}
    </aside>
</div>
{% endblock %}
