{% load cms_extras %}
<div class="cms-formset-row{% if form.errors %} cms-formset-row--error{% endif %}" data-cms-formset-row>
    {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% elif field|is_delete_field %}
        <div class="visually-hidden" data-cms-delete-field>{{ field }}</div>
        {% else %}
        {% include "cms/partials/field.html" with field=field %}
        {% endif %}
    {% endfor %}
    {% if form.DELETE %}
    <div class="cms-formset-row__actions">
        <a href="#" class="cms-row-action cms-row-action--delete" data-cms-row-delete>
            {% include "cms/partials/icon_trash.html" %}
            <span>Usuń</span>
        </a>
    </div>
    {% endif %}
</div>
