<section class="home-map" aria-labelledby="{{ section_id|default:'home-map-heading' }}">
    <div class="home-map__media-wrap">
        <img class="home-map__media" src="{{ placeholder_img }}" alt="" width="1600" height="700">
    </div>
    <div class="home-map__panel">
        <div class="home-map__box">
            <h2 class="home-map__title" id="{{ section_id|default:'home-map-heading' }}">Gdzie kupić</h2>
            <p class="home-map__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="/gdzie-kupic/" class="home-map__cta">Lorem ipsum</a>
        </div>
    </div>
</section>
