{% load static %}
<section class="home-map" aria-labelledby="{{ section_id|default:'home-map-heading' }}">
    <div class="home-map__media-wrap">
        <img class="home-map__media" src="{{ map_section.image|default:placeholder_img }}" alt="" width="1600" height="700">
    </div>
    <div class="home-map__panel">
        <div class="home-map__box">
            <h2 class="home-map__title" id="{{ section_id|default:'home-map-heading' }}">{{ map_section.title|default:"Gdzie kupić" }}</h2>
            {% if map_section.body %}
            <div class="home-map__text rich-text">{{ map_section.body|safe }}</div>
            {% endif %}
            <div class="home-map__legend">
                <span><img src="{% static 'img/pin-grey.png' %}" alt=""> Pełna oferta produktów VESTONE</span>
                <span><img src="{% static 'img/pin-musso.png' %}" alt=""> Wyłącznie płyty dekoracyjne MUSSO</span>
            </div>
            <a class="home-map__cta" href="{{ map_section.button_url|default:'/gdzie-kupic/' }}">{{ map_section.button_label|default:"Wyszukaj punkt sprzedaży" }}</a>
        </div>
    </div>
</section>
