{% if product.specs %}
<dl class="product-detail__specs">
    {% for spec in product.specs %}
    <div class="product-detail__spec">
        <dt>{{ spec.label }}</dt>
        <dd>
            {% for val in spec.values %}
                {% if val.icon_display %}
                    {% include "website/partials/load_capacity_icons.html" with mode=val.icon_display %}
                {% elif val.html %}
                    <span class="rich-text">{{ val.html|safe }}</span>{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        </dd>
    </div>
    {% endfor %}
</dl>
{% endif %}
